html {
    background-color: rgb(15, 20, 46);
}


@font-face {
    font-family: 'Spidey';
    src: url(./fonts/Spidey.ttf);
}

@font-face {
    font-family: 'Google Sans';
    src: url(./fonts/Google_Sans/GoogleSans.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Google Sans', sans-serif;
}

body .flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   
}

.nav-bar {
    display: flex;
    font-family: 'Google Sans', sans-serif;
    min-height: 30px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background: rgb(15, 20, 46);
}

.nav-bar .nav-item {
    color: #f7f7f7;
}

.title-section {
    display: flex;
    flex: 1;
    justify-content: left; 
    align-items: center; 
    flex-direction: row;
    background: rgb(27, 37, 92);
  
}

.title-content {
  display: flex;
  padding: 10px;        
  flex-direction: column;
}

.title-content h1 {
    font-family: 'Spidey', sans-serif;
    color: #f7f7f7;
    text-align: start;
    font-size: 1.5rem;
    margin-left: auto;
}

.title-content p {
    font-family: 'Google Sans', sans-serif;
    color: #f7f7f7;
    text-align: center;
    font-size: 1rem;
    margin: 0 auto;
}

.title-section .profile-image {
    width: 200px;
    height: 200px;
    margin-left: 300px;
    margin-bottom: 70px;
    opacity: 1;
  
}


.project-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    background: rgb(41, 50, 100);
  
}

.project-section .project1 {
    display: flex;
    flex: 1;
    min-width: 0;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: rgb(0, 38, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-section h2{
    font-family: 'Google Sans', sans-serif;
}

.project-section p{
    font-family: 'Google Sans', sans-serif;
}

.project-section .project2 {
    display: flex;
    flex: 1;
    min-width: 0;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: rgb(0, 38, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-section .project3 {
    display: flex;
    flex: 1;
    min-width: 0;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: rgb(0, 38, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}














.contact-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    background: rgb(35, 48, 109);
}

.contact-section .email{
    background-color: rgb(80, 78, 196);
    border-radius: 10px;
    padding: 40px;
}

.contact-section .email button{
    background-color:rgb(37, 53, 136);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Google Sans', sans-serif;
    padding: 15px 32px;
}

.contact-section .mobile-number{
    background-color: rgb(80, 78, 196);
    border-radius: 10px;
    padding: 40px;
}

.contact-section .mobile-number button{
    background-color:rgb(37, 53, 136);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Google Sans', sans-serif;
    padding: 15px 32px;
}


footer {
    color: #f7f7f7;
    
}