* {
 
}

@font-face {
    font-family: 'Spidey';
    src: url(./fonts/Spidey.ttf);
}

@font-face {
    font-family: 'Google Sans';
    src: url(./fonts/Google_Sans/GoogleSans.ttf);
}

.body {
    background-color: #311b20;
    font-family: 'Google Sans';
    margin: 0;
    padding: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    
}

.body .header {
    background-color: #164674;
    color: #f0f0f0;
    font-size: 24px;
    margin-bottom: 10px;
    box-shadow: 5px 10px rgba(0, 0, 0, .5);
    flex: auto;
    
}

.body .preview {
    color: #777558;
    font-size: 16px;
    margin-bottom: 20px;
    flex: auto;
}

.body .list-item {
    color: #777558;
    font-size: 16px;
    margin-bottom: 20px;
    flex: auto;
}

.body .name {
    
    background-color: #167423;
    font-family: Spidey;
    font-size: small;
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
    flex: auto;
}

.body .flex-container {
  height: 140px;
  padding: 16px;
  background: plum;
  border: 4px solid indigo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.body .flex-container div {
 width: 60px;
  height: 60px;
  border: 4px solid darkslategray;
  background: skyblue;

}

footer {
    color: #f7f7f7;
}